
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="customer" class="umapath.net.Customer" autowire="byName" />
		
	<bean id="address" class="umapath.net.Address" >
		<property name="fulladdress" value="Marathahalli, BLR" />
	</bean>

</beans>